@use '../../../assest/mixin/all.scss' as all;
.container {
  //   position: absolute;
  .content {
    background-image: url('../../../assest/img/photo/mainMentor.jpg');
    width: 1440px;
    height: 741px;
    .main_text {
      @include all.displayCenter();
      flex-direction: column;
      height: 741px;

      .main_text_h2 {
        @include all.text(
          'Poppins',
          sans-serif,
          'normal',
          500,
          3.125em,
          #fbfbfb
        );
        text-align: center;
      }
      .main_btn {
        margin-top: 24px;
        @include all.text(
          'Poppins',
          sans-serif,
          'normal',
          600,
          1.125em,
          #fbfbfb
        );

        @include all.button(217px, 56px, #c192ee, 10px);
      }
    }
  }
}
