.p {
  margin-top: 25px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  //   display: flex;
  //   flex-direction: column;

  color: #000000;
  .a {
    color: #7f3a85;
    text-decoration: none;
    text-align: center;
  }
}
