@use '../../assest/mixin/all.scss' as all;
.container {
  @include all.displayCenter();
  margin: 50px 0 60px;
  .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    width: 710px;
    .item_img {
      width: 50px;
      height: 50px;
      background: #ffffff;
      @include all.displayCenter();
      .img {
      }
    }
    .item {
      width: 50px;
      height: 50px;

      background: #ffffff;

      border: 3px solid #c192ee;
      border-radius: 10px;
      @include all.displayCenter();
      .p {
        @include all.text('Poppins', sans-serif, 'normal', 400, 1.125em, #000);
      }
    }
    .item_activ {
      width: 50px;
      height: 50px;

      background: #c192ee;

      border: 3px solid #c192ee;
      border-radius: 10px;
      @include all.displayCenter();
      .p {
        @include all.text('Poppins', sans-serif, 'normal', 400, 1.125em, #000);
      }
    }
  }
}
