@use '../../../../assest/mixin/all.scss' as all;
.first_container {
  .first {
    .first_item {
      margin-top: 20px;
      .input_small {
        @include all.authInput(365px, 60px, #fff);
        border: none;
        margin-right: 10px;
      }
      .input_small_activ {
        @include all.authInput(365px, 60px, #fff);
        border: 1px solid #c192ee;
      }
      .input_big {
        @include all.authInput(740px, 60px, #fff);
        border: none;
      }
      .input_big_activ {
        @include all.authInput(740px, 60px, #fff);
        border: 1px solid #c192ee;
      }
    }
    .first_button {
      .first_btn {
        @include all.authButton(740px, 60px);
        @include all.text('Poppins', sans-serif, 'normal', 500, 1.125em, #fff);
        margin-top: 28px;
      }
    }
    .first_text {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}
