@use '../../../assest/mixin/all.scss' as all;
.container {
  margin-top: 60px;
  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 44px;
    .item {
      .item_header {
        position: relative;
        .discount {
          position: absolute;
          width: 87px;
          height: 29px;
          left: 0px;
          top: 0px;
          background: #c192ee;
          border-radius: 10px;
          @include all.displayCenter();

          .discount_p {
            @include all.text('Poppins', 'normal', 400, 1.125em, #fff);
          }
        }
        .item_img {
        }
        .list {
          position: absolute;
          left: 1px;
          top: 328px;
          width: 307px;
          height: 104px;
          background: #fad3e7;
          border-radius: 10px;
          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          .text {
            // @include all.displayJustify(flex-start);
            // align-items: center;
            margin: 10px 0 0 22px;

            .text_h4 {
            }

            .text_star {
            }
            .text_price {
              display: flex;
              justify-content: space-between;
              .text_price__activ {
                @include all.text('Poppins', 'normal', 700, 1.125em, #000);
              }
              .text_noPrice {
                @include all.text('Poppins', 'normal', 400, 1.125em, #9098b1);
                text-decoration-line: line-;
              }
              .text_price__protsent {
                @include all.text('Poppins', 'normal', 700, 1.125em, #fb7181);
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
