@use '../../../assest/mixin/all.scss' as all;
.container {
  margin-top: 60px;
  .header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    .plus_h2 {
      @include all.displayItems(center);
      margin-bottom: 10px;
      .plus_img {
        width: 40px;
        height: 40px;
      }
    }
    .basket {
      @include all.displayCenter();
      .basket_p {
        margin-left: 10px;
        @include all.text('Poppins', sans-serif, 'normal', 400, 18px, #db66e4);
      }
      .basket_img {
        width: 26px;
        height: 26px;
      }
    }
  }
}
