@use '../../../../assest/mixin/all.scss' as all;
.item {
  width: 256px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .adminContainer_activ {
    border-left: 5px solid #db66e4;
    display: flex;
    width: 256px;
    height: 56px;
    justify-content: space-evenly;
    align-items: center;

    .adminImg {
    }
    .adminText {
      @include all.text('Poppins', sans-serif, 'normal', 700, 14px, #db66e4);
    }
  }
  .adminContainer {
    // border-left: 5px solid #db66e4;
    display: flex;
    width: 256px;
    height: 56px;
    justify-content: space-evenly;
    align-items: center;
    border-left: 5px;
  }
  .adminText {
    @include all.text('Poppins', sans-serif, 'normal', 700, 14px, #db66e4);
  }
}
