.input {
  align-items: center;
  width: 740px;
  height: 60px;

  border: 1px solid #6d6d6d;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #6d6d6d;
  text-align: center;
  background: transparent;
  input {
    &:hover {
      background-color: #d565de;
      color: #000000;
      border: none;
    }
  }
}
