.button {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 740px;
  height: 60px;

  border: none;
  cursor: pointer;

  background: #db66e4;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* colors/black txt */

  color: #000000;
}
