@use '../../../../assest/mixin/all.scss' as all;
.text {
  width: 1440px;

  @include all.displayCenter();
  flex-direction: column;
  padding-top: 80px;
  @include all.text('Poppins', sans-serif, 'normal', 400, 6.125, #000);
  .text_h1 {
    @include all.text('Poppins', sans-serif, 'normal', 600, 90px, #000);
  }
  .img {
    img {
      margin-top: 120px;
      @media screen and (max-width: 508px) {
        width: 700px;
        margin-bottom: 50px;

        height: 340px;
      }
    }
  }
  .header_button {
    width: 211px;
    height: 59px;

    background: #db66e4;

    border: 1px solid #c192ee;
    border-radius: 15px;
    cursor: pointer;
  }
}
