.container {
  background-color: #fbfbfb;
  width: 100%;
  .content {
    margin: 0 auto;
    width: 1440px;
    min-height: 1440px;
    .content_item {
      display: flex;
      .login_heder {
      }
      .item {
      }
    }
  }
}
