@use '../../../assest/mixin/all.scss' as all;
.modal_activ {
  pointer-events: all !important;
  opacity: 1 !important;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  .modal_content_activ {
    transform: scale(1);
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    width: 1084px;
    height: 709px;
    //  transform: scale(0.5);
    transition: 0.4s all !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 9fr;
    .modal_container__close {
      display: flex;
      justify-content: flex-end;
    }
    .content {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      .item_img {
        @include all.displayCenter();
        flex-direction: column;
        .item_img__img {
          width: 383px;
          height: 560px;
        }
      }
      .item_text {
        .text_heder {
          @include all.displayJustify(space-between);
          // align-items: center;
          flex-direction: column;
          min-width: 440px;
          margin-top: 70px;
          min-height: 350px;
          max-height: 100%;
        }
        .text_name {
          @include all.text(
            'Poppins',
            sans-serif,
            'normal',
            300,
            20px,
            #252525
          );
        }
        .text_price {
          @include all.text(
            'Poppins',
            sans-serif,
            'normal',
            700,
            16px,
            #252525
          );
        }
        .text_size {
          width: 530px;
          height: 60px;
          border-radius: 15px;
          border: 0.3px solid #c4c4c4;
        }
        .item_btn {
          @include all.button(537px, 60px, #db66e4, 15px);
          border: 1px solid #c192ee;
          @include all.text(
            'Poppins',
            sans-serif,
            'normal',
            500,
            18px,
            #fbfbfb
          );
        }
        .deck {
          .text_deck_header {
            @include all.text(
              'Poppins',
              sans-serif,
              'normal',
              400,
              16px,
              #252525
            );
          }
          .text_inTheDeck {
            width: 200px;
          }
          .text_line {
            margin-top: 17px;
            border: 0.1px solid #c4c4c4;
            width: 530px;
          }
        }
      }
    }
  }
}
.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0);

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  .modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: #000;
    height: 40px;
    width: 40px;
    transform: scale(0.5);
    transition: 0.4s all;
  }
}
