@use '../../../../assest/mixin/all.scss' as all;
.container {
  .content {
    display: flex;
    flex-direction: column;
    .h2 {
      @include all.text('Poppins', sans-serif, 'normal', 500, 2.5em, #000);
      text-align: center;
      margin-top: 40px;
    }
    .input {
      @include all.authInput(740px, 60px, #fff);
      border: none;
      margin: 30px 0 80px;
    }
    .btn {
      @include all.authButton(740px, 60px);
      margin: 0 0 80px;
    }
    .text {
      margin: 0 0 80px;
    }
  }
}
