@use '../../../../assest//mixin/all.scss' as all;
.content_container {
  margin: 40px;

  .h2 {
    display: flex;
    margin: 20px;
    @include all.text('Poppins', sans-serif, 'normal', 600, 2em, #000);
    @media screen and (max-width: 768px) {
      @include all.displayCenter();
      flex-direction: column;
    }
  }
  .content {
    width: 1367px;
    margin: 0 auto;
    height: 772px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    @media screen and (max-width: 768px) {
      grid-row-gap: 25px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      @include all.displayCenter();
      flex-direction: column;
      height: 100%;
    }

    .item {
      @media screen and (max-width: 768px) {
        width: 950px;
      }
      @media screen and (max-width: 508px) {
        width: 676px;
      }
      width: 676px;

      height: 378px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: repeat(2fr 1fr);
      // grid-column-gap: 0px;
      // grid-row-gap: 0px;

      border-radius: 20px;
      .item_list {
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        .item_text {
          .item_h3 {
            @include all.text(
              'Poppins',
              sans-serif,
              'normal',
              400,
              1.125em,
              #000
            );
          }
          .item_p {
            margin-top: 15px;
            @include all.text(
              'Poppins',
              sans-serif,
              'normal',
              400,
              1.125em,
              #000
            );
          }
        }
        .item_img {
          margin-left: 100px;
        }
        #img {
          margin-top: -33px;
        }
      }
      .item_button {
        width: 411px;
        height: 62px;
        margin-left: 30px;

        /* colors/violet main color */

        background: #c192ee;
        @include all.text(
          'Poppins',
          sans-serif,
          'normal',
          500,
          1.125em,
          #fbfbfb
        );

        border-radius: 20px;
        margin-bottom: 50px;
        border: none;
      }
    }
  }
}
