@use '../../../../assest/mixin/all.scss' as all;
.newPassword_container {
  display: flex;
  .newPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    .newPassword_text {
      margin-top: 110px;
      margin-bottom: 80px;
 
      h3 {
      }
    }
    .newPassword_input {
      .input_big {
        @include all.authInput(740px, 60px, #fff);
        border: none;
      }
      margin-bottom: 20px;
    }
    .btn {
      @include all.authButton(740px, 60px);
      @include all.text('Poppins', sans-serif, 'normal', 500, 1.125em, #fff);
      margin-top: 28px;
    }
    .text {
      margin-top: 25px;
    }
  }
}
