* {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input {
  padding: 0 20px;
}
